<html>
<head>
<title>Survey Form Revisited</title>
	<!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			// this triggers the connection even in our server!
			var socket = io.connect();
			// we'll write all the socket stuff after the above line!

			$('form').submit(function() {
				// alert($('form input[name="name"]').val());
				socket.emit("posting_form", { 
					name: $('form input[name="name"]').val(),
					location: $('form select[name="location"]').val(),
					language: $('form select[name="language"]').val(),
					comments: $('form textarea[name="comments"]').val(),
				 });
				return false;
			});
			socket.on('updated_message', function (data) {
				$('#result').append("<p>You emitted the following information to the server: { name: '" + data.name + "', location: '" + data.location + "', language: '" + data.language + "', comment: '" + data.comments + "' }" )
				// console.log('The server says: ' + data.name + data.location + data.language + data.comments);
			});
			socket.on('random_number', function (data) {
				$('#result').append('<p>Your lucky number emitted by the server is ' + data.randomNumber + '</p>')
				// console.log('The server says: ' + data.randomNumber);
			});
		})
	</script>
</head>
<body>
	<div id="result">

	</div>
	<div class="container">
		<div class="row">
			<div class="cols-sm-12">
				<form action="/result" method="post">
					<div class="form-group">
						<label for="name">Your Name</label>
						<input type="text" class="form-control" name="name" placeholder="Enter Name">
					</div>
					<div class="form-group">
						<label for="name">Dojo Location</label>
						<select class="form-control" name="location">
							<option value="Mountain View">Mountain View</option>
							<option value="Seattle">Seattle</option>
							<option value="Southbay">Southbay</option>
							<option value="Online">Online</option>
						</select>
					</div>
					<div class="form-group">
						<label for="name">Favorite Language</label>
						<select class="form-control" name="language">
							<option value="Javascript">Javascript</option>
							<option value="PHP">PHP</option>
							<option value="Ruby">Ruby</option>
							<option value="NodeJs">NodeJs</option>
						</select>
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea class="form-control" rows="3" name="comments"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>